dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.stack-work/
.vscode/
node_modules/
preview.html
Haskell/.DS_Store
Haskell/examples/diff_output/blockquotes.diff
Haskell/examples/diff_output/code.diff
Haskell/examples/diff_output/footnotes.diff
Haskell/examples/diff_output/free_text.diff
Haskell/examples/diff_output/heading.diff
Haskell/examples/diff_output/images.diff
Haskell/examples/diff_output/ordered_list.diff
Haskell/examples/diff_output/tables.diff
Haskell/examples/diff_output/unordered_list.diff
Haskell/examples/output/blockquotes.html
Haskell/examples/output/code.html
Haskell/examples/output/footnotes.html
Haskell/examples/output/free_text.html
Haskell/examples/output/heading.html
Haskell/examples/output/images.html
Haskell/examples/output/ordered_list.html
Haskell/examples/output/tables.html
Haskell/examples/output/unordered_list.html
